$strongRed: #b9121b;
$white: #ffffff;
$black: #000000;
$veryDarkRed: #4c1b1b;
$verySoftRed: #e58888;
$veryLightGray1: #f3f3f3;
$veryLightGray2: #fefefe;
$lightGrayishYellow: #fcfae1;

/* Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Oswald:400,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
body {
    font: 16px/1.6 'Oswald', sans-serif;
    p {
        font: 16px/1.6 'Lato', sans-serif;
    }
}

h1 {
    font-size: 28px;
    margin: 15px 0 15px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

h3 {
    font-size: 20px;
    margin-top: 0;
}

h4 {
    font-size: 18px;
    margin-top: 0;
}


/* Top Bar Section */

.top-bar {
    background: $strongRed;
    color: $white;
    padding: 15px 0;
}


/* Header - Main Menu */

.menu-area {
    background: $veryLightGray1;
    padding: 15px 0;
}

.main-menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 28px;
        li {
            display: inline;
            margin: 0 30px 0 0;
            a {
                text-transform: uppercase;
                color: $veryDarkRed;
                text-decoration: none;
            }
            &.current-menu-item a {
                color: $verySoftRed;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
}


/* Slider */

.slide {
    padding: 25px 0;
}


/* Services */

.services {
    background: $veryDarkRed;
    padding: 25px 0;
    color: $veryLightGray2;
}


/* Middle Area */

.middle-area {
    padding: 25px 0;
    h1 {
        color: $veryDarkRed;
        text-transform: uppercase;
    }
}


/* Middle Area - Sidebar */

.sidebar {
    background: #f6e497;
    padding: 20px;
    margin: 0 0 30px;
}


/* Footer */

footer {
    background: $black;
    padding: 15px 0;
    color: $lightGrayishYellow;
}


/* Footer - Footer Menu */

.footer-menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 20px;
        li {
            display: inline;
            margin: 0 15px 0 0;
            a {
                color: $lightGrayishYellow;
                text-decoration: none;
            }
        }
        li:last-child {
            margin: 0;
        }
        li.current-menu-item a {
            color: $verySoftRed;
        }
    }
}


/* Blog */

.wp-post-image {
    float: left;
    margin: 0 15px 10px 0;
}

.format-image {
    h2 {
        color: $white;
        background: #717171;
        padding: 15px;
    }
}

.format-video {
    h2 {
        color: $white;
        background: #211e1e;
        padding: 15px;
    }
}

.format-standard {
    h2 {
        color: #444;
        background: #d2d2d2;
        padding: 15px;
    }
}

.blog {
    article {
        display: inline-block;
        margin: 0 0 30px;
        width: 100%;
        h2 {
            margin-bottom: 15px;
        }
        p>img {
            width: 100%;
            height: auto;
        }
    }
    .meta-info {
        p {
            line-height: 1em;
            font-weight: bold;
        }
        p>a {
            color: #9d9d9d;
            font-weight: normal;
        }
    }
}